.cart {
    transition: all 0.6;
    -webkit-transition: all 0.6;
    -moz-transition: all 0.6;
    -ms-transition: all 0.6;
    -o-transition: all 0.6;
}

.cart:hover {
    box-shadow: -1px 12px 63px 9px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: -1px 12px 63px 9px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -1px 12px 63px 9px rgba(0, 0, 0, 0.27);
}